In [21]:
import psycopg2

conn = psycopg2.connect(host='piRobert0301.local',database="mydatabase_a28",user='a28',password='raspberry')

In [18]:
print(conn)

<connection object at 0x000001BD8AF23450; dsn: 'user=a28 password=xxx dbname=mydatabase_a28 host=piRobert0301.local', closed: 0>

In [19]:
sql='''CREATE TABLE IF NOT EXISTS 市場(
 name VARCHAR(20),
 country varchar(20),
 primary key(name)
);'''

cursor=conn.cursor()
cursor.execute(sql)

sql1='''CREATE TABLE IF NOT EXISTS 股市(
 stock_id SERIAL,
 date DATE,
 open NUMERIC(17,10),
 high NUMERIC(17,10),
 low NUMERIC(17,10),
 close NUMERIC(17,10),
 adj_close NUMERIC(17,10),
 volume BIGINT DEFAULT 0,
 name VARCHAR(20),
 PRIMARY KEY(stock_id),
 FOREIGN KEY(name) REFERENCES 市場(name) 
 ON DELETE NO ACTION
 ON UPDATE CASCADE
);'''

cursor.execute(sql1)
conn.commit()

cursor.close()
conn.close()

In [23]:
import psycopg2

conn = psycopg2.connect(host='192.168.0.252',database="mydatabase_a28",user='a28',password='raspberry')

In [28]:


with conn:
    with conn.cursor() as cursor:
        sql = '''CREATE TABLE IF NOT EXISTS 市場(
        name VARCHAR(20),
        country varchar(20),
        primary key(name)
        );'''
        cursor.execute(sql)

with conn.cursor() as cursor:
    sql='''CREATE TABLE IF NOT EXISTS 股市(
    stock_id SERIAL,
    date DATE,
    open NUMERIC(17,10),
    high NUMERIC(17,10),
    low NUMERIC(17,10),
    close NUMERIC(17,10),
    adj_close NUMERIC(17,10),
    volume BIGINT DEFAULT 0,
    name VARCHAR(20),
    PRIMARY KEY(stock_id),
    FOREIGN KEY(name) REFERENCES 市場(name) 
    ON DELETE NO ACTION
    ON UPDATE CASCADE
    );'''
    cursor.execute(sql)

conn.close()